In [1]:
# Makine öğrenmesindeki modeller ->  Regresyon ve Sınıflandırma
#Regresyon aralık içerisindeki bir değeri bulur -> arabanın fiyatı
#SInıflandırma nokta atışı bir şey bulur -> arabanın modeli

In [4]:
from sklearn.linear_model import LinearRegression
import pandas as pd

In [5]:
df = pd.read_csv("student.csv")

In [6]:
df.head(3)

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811

In [40]:
y=df[["Marks"]]

In [41]:
x=df[["number_courses","time_study"]]

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   number_courses  100 non-null    int64
 1   time_study      100 non-null    float64
 2   Marks           100 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 2.5 KB

In [43]:
l=LinearRegression()
model = l.fit(x,y)

In [44]:
model.predict([[4,10]]) #3.sınıfsın günlük 4 saat çalışıyorsun

C:\Users\alial\anaconda3\envs\dataai\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([[53.99164461]])

In [45]:
df["Marks"].max()

55.299

In [46]:
model.score(x,y)

0.9403656320238896